@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');


body{
    /* background:#eae3d9; */
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #172a3c;
}


.header-title{
    /* font-family: "New Rocker", system-ui; */
    font-family: "Playfair Display", serif;
    /* font-optical-sizing: auto; */
    font-weight: 600;
    font-style: italic;
}

.header-title h1{
    font-size: 4rem;
}


.logo{
    height: 60px;
}

.section-badge .custom-badge{
    background-color: #172a3c;
    border:.5px solid #172a3c;
    padding: 0px 2rem;
    /* color: #172a3c; */
    color: #fff;
    border-radius: 50px;
}

.form-select{
    border-radius: 50px;
    /* background-color: #eae3d9; */
    border-color: black;
}
.input-group-text{
    border-radius: 50px;
    background-color: #172a3c;
    border-color:#172a3c;
    color:white;
}

.carousel-caption a{
    color: aliceblue;
}

a{
    text-decoration: none;
    color: #172a3c;
}
a:hover{
    text-decoration: underline;
}

.card:hover{
    box-shadow: inset;
}

.sectionTitle{
    font-family: 'Abril Fatface', cursive;}

footer{
    background: #172a3c;
}

